{% extends 'base.html' %}

{% block conteudo %}
<h1>Lista de cidades</h1>

<table class="table table-striped">
    <thead>
    <th>Codigo</th>
    <th>Nome da Cidade</th>
    <th>Estado</th>
    <th>Ações</th>
    </thead>
    <tbody>
    {% for i in cidades %}
        <tr>
            <td>{{ i.pk }}</td>
            <td>{{ i.descricao }}</td>
            <td>{{ i.uf }}</td>
            <td>
                <a class="btn btn-info" href="/cidade/{{ i.pk }}">Editar</a>
                <a class="btn btn-danger" href="/cidade/excluir/{{ i.pk }}">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}